<h2>Upload a BigIP Config file:</h2>
<div class="span12">
	<%= form_for :upload, :url => { :action => :upload }, :html => { :multipart => true } do |f| %>
		<fieldset>
			<div class="clearfix">
				<%= f.label :name %>
				<div class="input">
			    	<%= f.text_field :name %>
			  	</div>
			</div>
			<div class="clearfix">
				<%= f.label :file %>
				<div class="input">
			    	<%= f.file_field :file %>
			  	</div>
			</div>	
		</fieldset>
		<div class="clearfix">
			<div class="input">
		    	<%= f.submit "Upload", :class => "btn primary" %> <%= link_to "Cancel", bip_configs_path, :class => "btn" %>
			</div>
		</div>
	<% end %>
</div>