<% if @bip_config.nil? or @bip_config.name.nil? %>

	<%= link_to "BigIP Config Parser", bip_configs_path, :class =>"brand" %>
	<ul class="nav">
		<li><%= link_to "Home", 	bip_configs_path %></li>
		<li><%= link_to "Contacts",	contacts_path %></li>
		<li><%= link_to 'Upload', new_bip_config_path, :class => "pull-right" %></li>			
	</ul>

<% else %>

	<%= link_to "BigIP Config Parser: " + @bip_config.name, bip_config_path(@bip_config), :class =>"brand" %>
	<ul class="nav">
		<li><%= link_to "Home", 	bip_configs_path %></li>
		<li><%= link_to "Virtuals", [@bip_config, :virtuals ]	%></li>
		<li><%= link_to "Profiles",	[@bip_config, :bipprofiles ]%></li>
		<li><%= link_to "Rules", 	[@bip_config, :biprules ]	%></li>
		<li><%= link_to "Classes", 	[@bip_config, :bipclasses ]	%></li>
		<li><%= link_to "Pools", 	[@bip_config, :bippools ]	%></li>
		<li><%= link_to "Monitors", [@bip_config, :bipmonitors ]%></li>
		<li><%= link_to "Nodes", 	[@bip_config, :bipnodes ]	%></li>
		<li><%= link_to "SelfIps", 	[@bip_config, :bipselfips]	%></li>
		<li><%= link_to "Contacts",	contacts_path %></li>
		<li><%= link_to 'Upload', new_bip_config_path %></li>
	</ul>

<% end %>
