<p id="notice"><%= notice %></p>

<h3>BipConfig: <%= @bip_config.name %> </h3>

<b>Name:</b>
<%= @bip_config.name %>

<ul>
	<li><%= link_to "SelfIps", 	[@bip_config, :bipselfips]	%> (<%= @bipcount[:bipselfips] 	%>)</li>
	<li><%= link_to "Virtuals", [@bip_config, :virtuals ]	%> (<%= @bipcount[:virtuals] 	%>)</li>
	<li><%= link_to "Pools", 	[@bip_config, :bippools ]	%> (<%= @bipcount[:bippools] 	%>)</li>
	<li><%= link_to "Nodes", 	[@bip_config, :bipnodes ]	%> (<%= @bipcount[:bipnodes]	%>)</li>
	<li><%= link_to "Monitors", [@bip_config, :bipmonitors ]%> (<%= @bipcount[:bipmonitors] %>)</li>
	<li><%= link_to "Profiles",	[@bip_config, :bipprofiles ]%> (<%= @bipcount[:bipprofiles] 	%>)</li>
	<li><%= link_to "Rules", 	[@bip_config, :biprules ]	%> (<%= @bipcount[:biprules] 	%>)</li>
	<li><%= link_to "Classes", 	[@bip_config, :bipclasses ]	%> (<%= @bipcount[:bipclasses] 	%>)</li>
</ul>	