<table class="zebra-striped">
	<thead>
		<tr>
			<th>Members</th>
			<th>Monitors</th>
			<th>Content</th>
			<th>Migrated</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<% @bippool.bipmembers.each do |m| %>
					<%= m.bipnode.name %>:<%= m.port %><br />
				<% end %>
			</td>
			<td>
				<% @bippool.bipmonitors.each do |m| %>
					<%= m.name %><br />
				<% end %>
			</td>
			<td><pre><%= @bippool.content %></pre></td>
			<td>
				<div class="migrated-image">
					<% if @bippool.migrated %>
						<%= image_tag "green-check.png", :width => 50, :height => 50 %>
					<% else %>
						<%= image_tag "red-x.png", :width => 50, :height => 50 %>
					<% end %>
				</div>
			</td>
		</tr>
	</tbody>
</table>
