<p id="notice"><%= notice %></p>

<h3>Bippools</h3>

<b>Name:</b>
<%= @bip_config.name %>

<table>
	<tr>
		<th>Name</th>
		<th>Members</th>
		<th>Monitors</th>
	</tr>
	<% @bippools.each do |bip_pool| %>
		<tr>
			<td>
				<%= bip_pool.name %><br />
			</td>
			<td>
				<% bip_pool.bipmembers.each do |m| %>
					<%= link_to m.bipnode.name, bip_config_bipnode_path(@bip_config.id,m.bipnode.id), :remote => true %>:<%= m.port %><br />
				<% end %>
			</td>
			<td>
				<% bip_pool.bipmonitors.each do |m| %>
					<%= link_to m.name, bip_config_bipmonitor_path(@bip_config.id, m.id), :remote => true %><br />
				<% end %>
			</td>
		</tr>
	<% end %>
</table>

<%= link_to 'Back', bip_config_path(@bip_config) %>