<p id="notice"><%= notice %></p>

<h3>Bipclasses</h3>

<b>Name:</b>
<%= @bip_config.name %>

<table>
	<tr>
		<th>Migrated</th>
		<th>Name</th>
		<th>Content</th>
	</tr>
	<% @bipclasses.each do |bip_class| %>
		<tr>
			<td>
				<%= bip_class.migrated %>
				<%= link_to "Migrated", :controller => :bipclasses, :action => :migrate %>
			</td>
			<td><%= bip_class.name %></td>
			<td><%= bip_class.content %></td>
		</tr>
	<% end %>
</table>

<%= link_to 'Back', bip_config_path(@bip_config) %>