<p id="notice"><%= notice %></p>

<h3>Bipclasses</h3>

<b>Name:</b>
<%= @bip_config.name %>

<table>
	<tr>
		<th>Name</th>
	</tr>
	<% @bipclasses.each do |bip_class| %>
		<tr>
		<td><%= bip_class.name %></td>
		<td>
			<% bip_class.content.each do |c| %>
				<%= c %><br />
			<% end %>	
		</td>
		</tr>
	<% end %>
</table>

<%= link_to 'Back', bip_config_path(@bip_config) %>