<p id="notice"><%= notice %></p>

<h3>Bipclasses</h3>

<b>Name:</b>
<%= @bip_config.name %>

<table>
	<tr>
		<th>Migrated</th>
		<th>Name</th>
		<th>Content</th>
	</tr>
	<% @bipclasses.each do |bip_class| %>
		<div class="bip_object">
			<tr>
			<td><%= render :partial => "migrated", :locals => { :bip_class => bip_class } %></td>
			<td><%= bip_class.name %></td>
			<td><%= render :partial => "content", :locals => { :bip_class => bip_class } %></td>
			</tr>
		</div>
	<% end %>
</table>

<%= link_to 'Back', bip_config_path(@bip_config) %>