<%= form_for(@bipprofile) do |f| %>
  <% if @bipprofile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bipprofile.errors.count, "error") %> prohibited this bipprofile from being saved:</h2>

      <ul>
      <% @bipprofile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
