<div class="bip_migrated_status">
	<%= bip_rule.migrated %>
	<% if bip_rule.migrated %>
		<%= form_for [@bip_config, bip_rule] do |f| %>
			<%= f.hidden_field :migrated, :value => false %>
			<%= f.submit "Not Migrated!" %>
		<% end %>
	<% else %>
		<%= form_for [@bip_config, bip_rule] do |f| %>
			<%= f.hidden_field :migrated, :value => true %>
			<%= f.submit "Migrated!" %>
		<% end %>
	<% end %>
</div>