<p id="notice"><%= notice %></p>

<h3>Bipselfips</h3>

<b>Name:</b>
<%= @bip_config.name %>

<table>
	<tr>
		<th>SelfIp</th>
		<th>Netmask</th>
		<th>Unit</th>
		<th>Floating</th>
		<th>VLAN</th>
	</tr>
	<% @bipselfip.each do |bip_selfip| %>
		<tr>
		<td><%= bip_selfip.name %></td>
		<td><%= bip_selfip.netmask %></td>
		<td><%= bip_selfip.unit %></td>
		<td><%= bip_selfip.floating %></td>
		<td><%= bip_selfip.vlan %></td>
		</tr>
	<% end %>
</table>

<%= link_to 'Back', bip_config_path(@bip_config) %>

