<h3>Bipvirtuals</h3>

<table>
	<tr>
		<th>Migrated</th>
		<th>Name</th>
		<th>enable</th>
	 	<th>destination</th>
	  	<th>pool</th>
	  	<th>persist</th>
	  	<th>fb_persist</th>
		<th>rules</th>
		<th>profiles</th>
		<th>httpclasses</th>
		<th>vlans</th>
	</tr>
	<% @bipvirtuals.each do |bip_virtual| %>
		<tr>
			<td><%= render :partial => "migrated", :locals => { :bip_virtual => bip_virtual } %></td>
			<td><%= link_to bip_virtual.name, bip_config_virtual_path(@bip_config.id, bip_virtual.id), :remote => true %></td>
			<td><%= bip_virtual.enable %></td>
		 	<td><%= bip_virtual.destination %></td>
			<td><%= render :partial => "pools", :locals => { :bip_virtual => bip_virtual } %></td>
		  	<td><%= bip_virtual.persist %></td>
		  	<td><%= bip_virtual.fb_persist %></td>
			<td><%= render :partial => "rules", :locals => { :bip_virtual => bip_virtual } %></td>
			<td><%= render :partial => "profiles", :locals => { :bip_virtual => bip_virtual } %></td>
			<td><%= bip_virtual.httpclasses %></td>
			<td><%= bip_virtual.vlans %><td>
		</tr>
	<% end %>
</table>

