<p id="notice"><%= notice %></p>

<h3>Bipvirtuals</h3>

<b>Name:</b>
<%= @bip_config.name %>

<table>
	<tr>
		<th>Name</th>
		<th>Content</th>
	</tr>
	<% @bipvirtuals.each do |bip_virtual| %>
		<tr>
			<td><%= bip_virtual.name %></td>
			<td><%= bip_virtual.content %></td>
		</tr>
	<% end %>
</table>

<%= link_to 'Back', bip_config_path(@bip_config) %>