<div class="bip_migrated_status">
	<%= bip_monitor.migrated %>
	<% if bip_monitor.migrated %>
		<%= form_for [@bip_config, bip_monitor] do |f| %>
			<%= f.hidden_field :migrated, :value => false %>
			<%= f.submit "Not Migrated!" %>
		<% end %>
	<% else %>
		<%= form_for [@bip_config, bip_monitor] do |f| %>
			<%= f.hidden_field :migrated, :value => true %>
			<%= f.submit "Migrated!" %>
		<% end %>
	<% end %>
</div>