<p id="notice"><%= notice %></p>

<h3>Bipmonitors</h3>

<b>Name:</b>
<%= @bip_config.name %>

<table>
	<tr>
		<th>Migrated</th>
		<th>Name</th>
		<th>Content</th>
	</tr>
	<% @bipmonitors.each do |bip_monitor| %>
		<tr>
			<td><%= render :partial => "migrated", :locals => { :bip_monitor => bip_monitor } %></td>
			<td><%= bip_monitor.name %></td>
			<td><%= render :partial => "content", :locals => { :bip_monitor => bip_monitor } %></td>
		</tr>
	<% end %>
</table>

<%= link_to 'Back', bip_config_path(@bip_config) %>