<!DOCTYPE html>
<html>
<head>
  <title>F5m</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <style type="text/css">
    body {
      padding-top: 60px;
    }
  </style>
</head>
<body>
	<div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
			<%= render :partial => 'bip_configs/topheader', :locals => { :bip_config => @bipconfig } %>
		</div>
      </div>
    </div>

    <div class="container-fluid">
	
		<% if notice %>
			<div class="alert-message info">
				<%= notice %>
			</div>
		<% end %>
			
		<% if alert %>
			<div class="alert-message warning">
	    		<%= alert %>
			</div>
		<% end %>
		
		<%= yield %>
	<div>
	
    <hr>
    
	<footer>
		<%= render :partial => "layouts/footer" %>
	</footer>

</body>
</html>
